
<%- include("header") -%>

<h1>This is the About Page</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus atque maxime cupiditate, in illo voluptate aut voluptatum laudantium, dolorem dolores nobis facilis quos incidunt saepe officia et est magni vel! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dicta pariatur cum eaque accusantium libero nisi natus a ut numquam accusamus voluptas, deleniti minima id quaerat tempore amet aliquid? Libero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, repudiandae animi quia expedita aperiam molestias placeat odio iusto eum ipsa quod adipisci perspiciatis, nam reprehenderit? Nulla incidunt nobis repudiandae ipsum?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, iste aut? Dolorem soluta laborum nihil rerum? Velit, culpa inventore vero sint ex veniam architecto. Odio eos ipsa corrupti minus itaque.
</p>

<%- include("footer") -%>
